/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/*debug code
outline: solid 1px red;

*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */

* {} body {
  background: #CBD4F0 url("../images/mooning.png");
}
#pageWrapper {
  background: #FFDE8D;
}
li {
  list-style-type: none;
  border-bottom: 1px solid #ccc;
   border-top: 1px solid #ccc;
}
h1 {
  color: #003A66;
}
#personCheckingOut {
  float: right;
}
#checkedInList {
  margin: 0;
}
#checkedInList span.name {
  width: 20rem;
}
#checkedInList li {
  width: 40rem;
}
#checkedOut span.name,
#checkedOut span.type,
#checkedOut span.personName,
#checkedOut span.lps,
#checkedOut span.dateOut,
#checkedOut span.dateIn {
  display: inline-block;
  padding: 0.5rem;
  width: 6.5rem;
}
span.name,
span.type,
span.personName,
span.lps {
  display: inline-block;
  padding: 0.5rem;
  width: 7rem;
  display: -moz-inline-box;
  /* FF2 or lower */
  display: inline-block;
  /* FF3, Opera, Safari */
  line-height: normal;
  vertical-align: middle;
}
span.personName {
  
} 
#peopleList span {} 

#checkedInList button,
#checkedOutList button,
#peopleList button,
#equipRemove button,
#peopleRemove button {
  padding: 0.25rem;
  font-size: 0.75rem;
  display: inline-block;
  margin: auto;
}
#peopleRemove button {
  margin: 4px;
}
#personCheckingOut {
  z-index: 100;
}
#checkedInList > li {
  width: 100%;
  float: left;
  clear: left;
  vertical-align: middle;
  display: inline-block;
  z-index: -100;
}
#checkedInList {
  position: relative;
}
#peopleList span {
  width: 10rem;
  
}
#peopleList button {
  
}
.selected {
  background: #CBD4F0;
  outline: solid 1px #3030F6;
}

.uiHook {}
/*Utils============================================*/

.hidden {
  display: none;
}
/* #Page Styles
================================================== */

/* #Media Queries
================================================== */

/* Smaller than standard 960 (devices and browsers) */

@media only screen and (max-width: 959px) {}
/* Tablet Portrait size to standard 960 (devices and browsers) */

@media only screen and (min-width: 768px) and (max-width: 959px) {}
/* All Mobile Sizes (devices and browser) */

@media only screen and (max-width: 767px) {
  #innerTabs {
    ouline:1px solid red;
    width:100%;
  }
}
/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */

@media only screen and (min-width: 480px) and (max-width: 767px) {}
/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */

@media only screen and (max-width: 479px) {}
/* #Font-Face
================================================== */

/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/